# Dog Park "Pupularity" Patterns

### Sydney Smith, Jared Mohammed, Ally Cronander, & Marilyn Lalrindiki

<img src="https://cdn.vox-cdn.com/thumbor/SF6piad06hSD8E9dKKLyJWPpTzY=/0x0:6500x2600/1200x800/filters:focal(3179x641:4219x1681)/cdn.vox-cdn.com/uploads/chorus_image/image/56352925/Fetch_Park_8.24.17.0.jpg" width=400px>

In [3]:
# For the Professors grading this notebook:
#!git clone

In [1]:
# import needed modules
import pandas as pd
import numpy as np
import datetime as dt
from datetime import time
import matplotlib.pyplot as plt
%matplotlib inline
import random

In [2]:
# load in & examine the data!
dog_park = pd.read_csv("dogparkdata_2012to2018.csv")
dog_park.head()

,Unnamed: 0,names,times,valid
0,0,bdjdaabeacjjbibbafjcjdjfaibib,1/1/2012 8:31:46AM,Valid Access
1,1,abjejijgjejjbiagjebib,1/1/2012 10:27:20AM,Valid Access
2,2,abjejijgjejjbiagjebib,1/1/2012 10:52:26AM,Valid Access
3,3,jeaajfaijijdjjbijdjcbdjcbbbbaabib,1/1/2012 10:52:48AM,Valid Access
4,4,jeaajfaijijdjjbijdjcbdjcbbbbaabib,1/1/2012 11:19:56AM,Valid Access

In [4]:
# make the data more readable
# make dataframe into an array & split based on year
dog_park_array = np.array(dog_park)
data_2012 = dog_park_array[0:10891] #data from 2012
data_2013 = dog_park_array[10891:20945] #data from 2013
data_2014 = dog_park_array[20945: 32605] #data from 2014
data_2015 = dog_park_array[32605: 49340] #data from 2015
data_2016 = dog_park_array[49340:70150] #data from 2016
data_2017 = dog_park_array[70150:87560] #data from 2017
data_2018 = dog_park_array[87560:110066] #data from 2018

In [5]:
# deal with the yucky date/time string
# this function will create an array with the correct times in military time in the format [hour, minute, second]
def correct_time(array):
    '''
    - This is a function that makes a string of time more readable
    - inputs a string in the format 'month/day/time hour:minute:second AM or PM' 
    - outputs a time array the length of the initial array in the format [hour,minute,second] in military time
    
    '''
    correct_times = []
    for i in range(0,len(array)):
        date_time = array[i][2] 
        time = date_time[-10:-2]
        am_pm = date_time[-2]
        minute = int(time[3:5])
        second = int(time[6:8])
        hour = int(time[0:2]) 
        if am_pm == 'A' and hour != 12:
            correct_times.append([hour, minute,second])
        elif am_pm == 'P'and hour != 12:
            hour += 12
            correct_times.append([hour, minute, second])
        elif am_pm == 'A' and hour == 12:
            hour = 0
            correct_times.append([hour, minute, second])
        elif am_pm == 'P' and hour == 12:
            hour = 12
            correct_times.append([hour,minute,second])
    return(correct_times)

In [8]:
# dealing with the yucky date/time string continued
# this function will create an array with the correct date in the format [month, day, year]
def correct_date(array):
    '''
    - This is a function that makes a string of times and dates more readable
    - inputs a string in the format 'month/day/time hour:minute:second AM or PM' 
    - outputs a date array the length of the initial array in the format [month,day,year]
    '''
    correct_dates = []
    for i in range(0, len(array)):
        date_time = array[i][2]
        date = date_time[0:10]
        find_month = date.partition('/')
        month = int(find_month[0])
        find_day = find_month[2].partition('/')
        day = int(find_day[0])
        year = int(find_day[2])
        correct_dates.append([month,day,year])
    return(correct_dates)

In [9]:
# Use the functions we just made to make easily readable arrays
times_2012 = correct_time(data_2012)
dates_2012 = correct_date(data_2012)
times_2013 = correct_time(data_2013)
dates_2013 = correct_date(data_2013)
times_2014 = correct_time(data_2014)
dates_2014 = correct_date(data_2014)
times_2015 = correct_time(data_2015)
dates_2015 = correct_date(data_2015)
times_2016 = correct_time(data_2016)
dates_2016 = correct_date(data_2016)
times_2017 = correct_time(data_2017)
dates_2017 = correct_date(data_2017)
times_2018 = correct_time(data_2018)
dates_2018 = correct_date(data_2018)

In [10]:
def find_indices(month,day,year,date_array):
    '''
    - This is a function that takes in a date and finds the indices for that specific date
    - Inputs:
        - month, day, year : Integers for the date wanted
        - date_array: This can be any array you want to find indices over
    - Returns two values, the first value is the first time the date appears in the array, 
      the second value is the last time the date appears in the array
    '''
    begin = date_array.index([month,day,year])
    end = date_array.index([month,day+1,year]) 
    return(begin,end)

# example
find_indices(2,14,2013, dates_2013)

(1297, 1323)